<h1 class="card-title text-center"> <b>Lista de tickets</b> </h1>


<div class="col-12 col-md-12">
<div class="table-responsive">
<table class="table table-hover table-striped">
    <tr>
        <thead>
            <th scope="col"><div class="size"> Cod-Ticket</div></th>
            <th scope="col"><div class="size"> 1821</div></th>
            <th scope="col"><div class="size"> Fecha Creacion</div></th>
            <th scope="col"><div class="size"> Telefono</div></th>
            <th scope="col"><div class="size"> Estado-ticket</div></th>
            <th scope="col"><div class="size"> Usuario</div></th>
            <th scope="col"><div class="size"> Email</div></th>
           <!-- <th scope="col"><div class="size"> Departamento</div></th> -->
            <th scope="col"><div class="size"> Asunto</div></th>
            <th scope="col"><div class="size"> Mensaje</div></th>
            <th scope="col"><div class="size"> Solucion</div></th>
            <th scope="col"><div class="size"> Actions</div></th>
        </thead>
        <tbody style="background: white;">
        </tr>
             <%= render @tickets %>
        </tr>
        </tbody>

</table>
</div>
